{% extends 'index.html' %}
{% load static %}
{% block title %} 눈감음 {% endblock %}
{% block cssblock %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">

<style>
     h3 {
        margin:auto;
        text-align: center;
        margin-bottom: 50px;
    }
    #btnsort {
        margin:auto;
        text-align: center;
        font-family: 'Gowun Dodum', sans-serif;
    }
    a {
        text-decoration: none;
    }
    #jolfont{
        font-family: 'Gowun Dodum', sans-serif;
        font-weight: bold;

    }
    #fakfont{
      font-family: 'Lobster', cursive;
      font-size: 50px;
    }
    #infont{

      
      font-family: 'Dongle', sans-serif;
      font-size: 25px;
      font-weight: lighter;

    }

    #login {
      font-family: 'Dongle', sans-serif;
      font-size: 27px;
      font-weight: lighter;
    }

    #logout{
      font-family: 'Dongle', sans-serif;
      font-size: 27px;
      font-weight: lighter;
    }
    #footfont{
      font-family: 'Noto Serif KR', serif;
    }
    .input-group-text{
    font-family: 'Noto Serif KR', serif;
    }
    .form-control{
    font-family: 'Noto Serif KR', serif;
    }
    #drowsy{
        margin-left: 750px;
    }
    #eye{
      text-align: center;
      font-family: 'Dongle', sans-serif;
      font-size: 80px;
      color:red;
    }


</style>
{% endblock %}
{% block content %}
    <h1 id="eye">"위험 알림"</h1>
    <h1 id="eye">"눈을 감고 있습니다"</h1>
    <img src="/static/detect/result.jpg" width=20% id="drowsy">
    
{% endblock %}